<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'tab1.tabName' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-card-header>
          <ion-card-title>Welcome to Ionic</ion-card-title>
          <ion-card-subtitle>{{ 'get_started' | translate }}</ion-card-subtitle>
      </ion-card-header>

    <ion-card-content>
      <p translate [translateParams]="{ lang: currentLanguage }">tab1.invite</p>
      <ion-item>
          <ion-label>{{ 'languageCaption' | translate }}</ion-label>
          <ion-select [(ngModel)]='currentLanguage' (ionChange)='languageChange()' [placeholder]='"tab1.languageChangePlaceholder" | translate'>
              <ion-select-option value='ru'>Russian</ion-select-option>
              <ion-select-option value='en'>English</ion-select-option>
              <ion-select-option value='fr'>French</ion-select-option>
              <ion-select-option value='es'>Spanish</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>